<app-sidebar [isOpen]="isSidebarOpen" (close)="isSidebarOpen = false"></app-sidebar>
<div class="app-content">
  <app-topbar (toggleSidebar)="isSidebarOpen = !isSidebarOpen"></app-topbar>
  <main class="page-content" (click)="closeSidebar()">
    <router-outlet></router-outlet>
    
    <footer class="app-footer">
      <span>Desarrollado y potenciado por</span>
      <a href="https://koudelagency.cloud/" target="_blank" rel="noopener noreferrer">Koudel Agency</a>
    </footer>
  </main>
</div>
